node_modules
npm-debug.log
Dockerfile*
.dockerignore
.git
.gitignore
vendor
backend/vendor
backend/storage/framework/cache
backend/storage/framework/sessions
backend/storage/framework/views
backend/storage/logs
.env
.env*
**/.DS_Store
**/Thumbs.db

